.points-popup {
    position: absolute;
    color: #ffffff;
    font-size: 6em;
    font-weight: bold;
    pointer-events: none;
    animation: pop-up 1s ease-out forwards;
    z-index: 9999;
}

@keyframes pop-up {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px) scale(1.2);
    }
}


@keyframes tremble {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(3px);
    }
}


.missile {
    position: absolute;
    height: 100px;
    width: 50px;
    background: url("../img/missile.png") no-repeat 100% 100%;
    background-size: contain;
    z-index: 10;
    pointer-events: none;
}

/* comment this to play the gif explosion instead  */
.explosion {
    position: absolute;
    width: 222px;
    height: 222px;
    background: radial-gradient(circle, #ff2600, #ff8000, yellow);
    border-radius: 50%;
    opacity: 0;
    animation: explode 0.5s forwards;
    pointer-events: none;
}

@keyframes explode {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}