* {
    padding: 0;
    margin: 0;
}

html, body, #grid {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

#border-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    pointer-events: none;
}

#grid {
    position: relative;
    z-index: 10;

    display: flex;
    flex-wrap: wrap;

    width: 100%; /* Ensure width is set */
    height: 100%; /* Optional, depends on use case */
}

#grid .square {
    width: 10%; /* 100 / 10 columns */
    height: 10%; /* 100 / 10 rows */
    box-sizing: border-box;
}

body {
    display: flex;
}

#side-infos {
    height: 100%;
    width: 34%;

    position: relative;
    z-index: 100;
    /*to align with the design*/
    margin-left: 52px;
    margin-top: 57px;
}

#game-grid {
    width: 100%;
    position: relative;
    margin: 30px 42px 48px 47px;
}

#enemy {
    height: 59%;
    background: red;
    position: relative;
}

#infos {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 52px;
    margin-bottom: 40px;
    z-index: 2000;
    width: 23%;
    height: 260px;
    background: #fffafa;

    overflow: hidden;
}

#ships-infos {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#ships-infos .ship {
    width: 44%;
}

#ships-infos .ship img.sunk {
    filter: opacity(0.72);
}

#ships-infos .ship img {
    max-width: 70%;
    height: auto;
}

#video-placeholder {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 100;
}

